﻿@inherits LayoutComponentBase
<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4">
            <AuthorizeView>
                <Authorized>
                    <h5>Hello, @context.User.Identity.Name</h5>
                    <a href="logout">Logout</a>
                </Authorized>
                <NotAuthorized>
                    <a href="register">Register</a>
                    <a href="login">Login</a>
                </NotAuthorized>
            </AuthorizeView>
              
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>

<div id="blazor-error-ui">
    An unhandled error has occurred.
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
</div>
