﻿@rendermode InteractiveServer
<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">Auth app</a>
    </div>
</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler" />

<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Home
            </NavLink>
        </div>

        <AuthorizeView Roles="ADMIN">
            <Authorized>
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="admin-page">
                        <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Admin
                    </NavLink>
                </div>
            </Authorized>
        </AuthorizeView>
        <AuthorizeView Roles="ADMIN, ROL">
            <Authorized>
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="rol-page">
                        <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Rol
                    </NavLink>
                </div>
            </Authorized>
        </AuthorizeView>
        <AuthorizeView Roles="ADMIN, ROL, GUEST">
            <Authorized>
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="guest-page">
                        <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Guest
                    </NavLink>
                </div>
            </Authorized>
        </AuthorizeView>
        <AuthorizeView>
            <Authorized>
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="get-role">
                        <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Get role
                    </NavLink>
                </div>
            </Authorized>
        </AuthorizeView>
    </nav>
</div>

