﻿@page "/admin-page"
@rendermode InteractiveServer

<AuthorizeView Roles="ADMIN">
    <Authorized>
        <h3>You're on Admin page</h3>
    </Authorized>
    <NotAuthorized>
        <h3>You're unauthorized!</h3>
        <a href="/login">Login </a>
    </NotAuthorized>
</AuthorizeView>


@code {

}
