﻿@page "/get-role"
@inject AuthenticationStateProvider AuthStateProvider
@inject AuthService AuthService
<AuthorizeView>
    <Authorized>
        <h3>Your role is @role</h3>
    </Authorized>
    <NotAuthorized>
        <h3>You're unauthorized!</h3>
        <a href="/login">Login </a>
    </NotAuthorized>
</AuthorizeView>

@code {
    public string role = "";

    protected override async Task OnInitializedAsync()
    {
        var customAuthStateProvider = (CustomAuthStateProvider)AuthStateProvider;
        try
        {
            var tokenRes = await customAuthStateProvider.GetToken();
            
            role = await AuthService.GetRoleOfUser(tokenRes.token);
        }
        catch (UnauthorizedAccessException ex)
        {
            await customAuthStateProvider.UpdateAuthenticationState(null);
        }
        catch (Microsoft.JSInterop.JSDisconnectedException)
        {
            // Handle the exception if needed
        }
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (!firstRender)
        {
            var customAuthStateProvider = (CustomAuthStateProvider)AuthStateProvider;
            try
            {
                var tokenResp = await customAuthStateProvider.GetToken();
                if (tokenResp != null)
                {
                    var newToken = await AuthService.RefreshToken(tokenResp);
                    if (newToken != null)
                    {
                        await customAuthStateProvider.UpdateAuthenticationState(newToken);
                    }
                }
            }
            catch (UnauthorizedAccessException ex)
            {
                await customAuthStateProvider.UpdateAuthenticationState(null);
            }
            catch (Microsoft.JSInterop.JSDisconnectedException)
            {
                // Handle the exception if needed
            }
        }

    }

}
