﻿@page "/guest-page"
@rendermode InteractiveServer

<AuthorizeView Roles="ADMIN, ROL, GUEST">
    <Authorized>
        <h3>You're on Guest page</h3>
    </Authorized>
    <NotAuthorized>
        <h3>You're unauthorized!</h3>
        <a href="/login">Login </a>
    </NotAuthorized>
</AuthorizeView>

@code {

}
