﻿@page "/"
@rendermode InteractiveServer
@inject AuthService AuthService
@inject AuthenticationStateProvider AuthStateProvider
@inject NavigationManager NavigationManager

<PageTitle>Home</PageTitle>
<AuthorizeView >
    <Authorized>
        <h1>You're authorized!</h1>
        Welcome to your new app.
    </Authorized>
    <NotAuthorized>
        <h1>You're unauthorized!</h1>
    </NotAuthorized>

</AuthorizeView>

@code {

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (!firstRender)
        {
            var customAuthStateProvider = (CustomAuthStateProvider)AuthStateProvider;
            try
            {
                var tokenResp = await customAuthStateProvider.GetToken();
                if(tokenResp != null)
                {
                    var newToken = await AuthService.RefreshToken(tokenResp);
                    if (newToken != null)
                    {
                        await customAuthStateProvider.UpdateAuthenticationState(newToken);
                    }
                }
            }
            catch(UnauthorizedAccessException ex)
            {
                await customAuthStateProvider.UpdateAuthenticationState(null);
            }

        }

    }

}