﻿@page "/login"
@rendermode InteractiveServer
@inject ProtectedSessionStorage SessionStorage
@inject AuthenticationStateProvider AuthStateProvider
@inject IConfiguration Configuration
@inject AuthService AuthService
@inject NavigationManager NavigationManager

<h3>Login</h3>

<EditForm Model="authRequest" OnSubmit="HandleLogin">
    <div style="display:flex; flex-direction:column; width:300px">
        <label for="username">Name</label>
        <InputText id="username" @bind-Value="authRequest.Username" />
        <label for="password">Password</label>
        <InputText id="password" @bind-Value="authRequest.Password" type="password" />
        @if (!string.IsNullOrEmpty(errMessage))
        {
            <div class="alert alert-danger">@errMessage</div>
        }
        <br />
        <button type="submit" class="btn btn-primary">login</button>
    </div>
</EditForm>




@code {
    public AuthRequest? authRequest = new AuthRequest();
    public string errMessage = "";

    public async Task HandleLogin()
    {
        try
        {
            var authResponse = await AuthService.Login(authRequest!);
            if (authResponse != null)
            {
                await ((CustomAuthStateProvider)AuthStateProvider).UpdateAuthenticationState(authResponse);
                NavigationManager.NavigateTo("/");
            }
        }
        catch(Exception ex)
        {
            errMessage = ex.Message;
        }
    }
}