﻿@page "/register"
@inject AuthenticationStateProvider AuthStateProvider
@inject AuthService AuthService
@inject NavigationManager NavigationManager

<h3>Register</h3>

<EditForm Model="registerRequest" OnSubmit="HandleRegister">
    <div style="display:flex; flex-direction:column; width:300px">
        <label for="username">Name</label>
        <InputText id="username" @bind-Value="registerRequest.Username" />
        <label for="password">Password</label>
        <InputText id="password" @bind-Value="registerRequest.Password" type="password" />
            <div>
                <InputRadioGroup @bind-Value="registerRequest.Role">
                Select role
                <br />
                @foreach(var role in roles)
                {
                    <InputRadio Value="role"/>
                    @role
                    <br />
                }
                </InputRadioGroup>
            </div>
        @if (!string.IsNullOrEmpty(errMessage))
        {
            <div class="alert alert-danger">@errMessage</div>
        }
        <br />
        <button type="submit" class="btn btn-primary">Register</button>
    </div>
</EditForm>
@code {
    public RegisterRequest registerRequest = new RegisterRequest();
    public string[] roles = { "ADMIN", "ROL", "GUEST" };
    public string errMessage = "";

    public async Task HandleRegister()
    {
        try
        {
            var authResponse = await AuthService.Register(registerRequest!);
            if (authResponse != null)
            {
                await ((CustomAuthStateProvider)AuthStateProvider).UpdateAuthenticationState(authResponse);
                NavigationManager.NavigateTo("/");
            }
        }
        catch(Exception ex)
        {
            errMessage = ex.Message;
        }

    }
}
