﻿@page "/rol-page"
@rendermode InteractiveServer

<AuthorizeView Roles="ADMIN, ROL">
    <Authorized>
        <h3>You're on Rol page</h3>
    </Authorized>
    <NotAuthorized>
        <h3>You're unauthorized!</h3>
        <a href="/login">Login </a>
    </NotAuthorized>
</AuthorizeView>

@code {

}
